@charset "utf-8";
/* CSS Document */

/*公用*/
.comWidth{width:1000px; margin-left:auto; margin-right:auto;}

.Area {float: left;}
.hide{display:none;}
.show{display:block;}

/*topBar*/
.topBar{height:31px; background-color:#F7F7F7; line-height:31px;}
.collection{background:url(../images/icon/collection.jpg) left center no-repeat; padding-left:19px; font-weight:bold;}
.topBar a:hover{color:red;}
/*logo*/
.logoBar{height:85px; background-color:#1D7AD9;}
.logo{padding-left:41px; padding-top:13px;}
/*search*/
.search_box{width:430px; padding-top:23px; padding-left:185px;}
/*.search_text{width:350px;height:14px; line-height:14px; padding:11px 5px 10px; background-color:#FFF;}
*/
.search_text{width:350px;height:35px; line-height:35px\9;/*css hack  \9 代表所有的ie浏览器*/ padding:0 5px; background-color:#FFF;}
.search_btn{width:70px; height:35px; font-size:14px; font-family:"Microsoft YaHei", "微软雅黑"; background-color:#FF8C00; color:#FFF;}
/*购物车*/
.shopCar{width:145px; height:35px;background-color:#FF8C00; margin-top:23px;font:14px/35px "Microsoft YaHei", "微软雅黑"; color:#FFF; margin-right:59px; display:inline;}
.shopText{/*font-size:14px; font-family:"Microsoft YaHei", "微软雅黑"; line-height:35px;*/  height:100%; width:87px; border-right:#E27A00 solid 1px; background:url(../images/icon/shaoIcon.jpg) 10px center no-repeat; text-indent:40px;}
.shopNum{width:27px; height:35px; border-left:#FF9C01 solid 1px; background:url(../images/icon/sj.jpg) 33px center no-repeat; text-align:right; padding-right:29px;}


.user {font:14px/35px "Microsoft YaHei", "微软雅黑";color:#FFF; margin-top:23px;margin-right:59px; display:block;}
.user:hover a {background: #4593FD;}
/*导航*/
.navBox{height:35px; background-color:#1369C0; color:#FFF;}
.nav{line-height:35px;}
.nav li{float:left;}
.nav a{height:35px; display:inline-block; padding:0 35px; color:#FFF;}
.navBox ul li:hover a {background: #4593FD;}





.imgBox{position:absolute; left:0; top:0;}
.imgBox li{float:left;}
.imgBox img{display:block;}
.imgNum{position:absolute; left:0; bottom:15px; width:100%; text-align:center;}
.imgNum a{width:20px; height:5px; overflow:hidden; background-color:#FFF; display:inline-block; margin:0 3px;}
.imgNum .active{background-color:#FF7700;}



.hr_15{height:15px; overflow:hidden;}
/*产品分类*/

.products .Area{width:810px;}
.products .banner_bar{float:none;}
.products .item{width:25%; *width:24.9%; margin-bottom:10px;}

/*标题*/
.products_title{height:34px; border-bottom:#CCCCCC solid 2px;padding-left:50px;}
.products_title h3{width:180px; border-bottom:#096DBA solid 2px; height:34px; line-height:34px; text-indent:9px; margin-bottom:-2px; position:relative;}



/*商品*/
.item{float:left; height:265px; position:relative;padding-left:62px;}
.item_cont{padding:0 15px;}
.img_item{height:170px; text-align:center;}
.img_item img{height:170px;}
.item p{line-height:20px;}
.item a{color:#000;}
.item a:hover{text-decoration:underline;}